/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: larger;
    margin: 20px;
  
  }
  
  article {
  
  }
  
  h1 {
    font-size: smaller;
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      padding: 10px;
  }
  
  main {
  
  }
  
  section {
   
   
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 800px) {
    body {
        background-color: aqua;
        font-size: x-large;
        margin: 30px;
    }
    figure {
        width: 45%;
        margin-right: 4.5%;
        
       

    }

    
  }