h1 {
    font-size: "65px";
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

ul {
    background-color: aqua;
    text-decoration: underline;
    line-height: 25px;
}

.estilo-parágrafo-linha {
    background-color: cadetblue;
}

p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px; 
    font-style:inherit;
    text-decoration:dashed;                     
}

#amarelo {background-color: yellow;}
#vermelho {background-color: red;}
#marrom {background-color: brown;}
